# Environment variables
.env

# Python virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/uploaded_audio/
uploaded_audio/